header{
    margin: 0%;
    padding: 20px ;
    background-image: url(img/oxford-shoes-6078951_1280.jpg);
    
}
*{
    font-style: italic;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
button{
    background-color: rgb(0, 0, 0);
    size: 100px;
    color: white;
}
nav{
    border: 2px solid white;
    display: flex; 
    height: 40px;
    color: white;
}

nav ul {
    list-style-type: none; /* Remove default list styles */
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox for the <ul> */
}

nav li {
    margin: 10px 30px; /* Adjust margin between <li> elements */
}
#hero {
    background-image: url(img/balancing-1868051_1280.jpg);
    background-position: center;
    /* height: 100px; */
    background-size: contain;
    /* margin: 0px;
    padding: 0px; */
    height: 100vh;

}

#catch{
    padding: 150px 300px;
    /* border: 1px solid black; */
    height: 50px;
}

#feature{
    /* border: 3px solid yellow; */
    
    /* justify-content: center; */
    /* border: 3px solid rgb(247, 255, 7); */
    display: flex;
    justify-content: center;
    height: 800px;
}

#featuredProducts{
    
    height: 400px;
    /* width: 700px; */
    justify-content: center;

    /* border: 3px solid rgb(4, 216, 117); */
    width: 1000px;
    /* margin: 0 auto; */
    text-align: center; 
    height: 800px;
}

#featuredProducts h1{
   
    /* text-align: center; */
}

#products{
    /* border: 3px solid rgb(255, 0, 0); */
    width: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0% auto;
}

.prod1{
    border: 3px solid black;
    width: 300px;
    /* height: 500px; */
}
.prod1 img{
    width: 100%; /* Make the image width 100% of its container */
    height: auto; /* Maintain the image's aspect ratio */
    display: block; /* Remove any extra space caused by inline elements */

}

.imgContainer{
    width: 300px;
    height: 500px;
}
.imgContainer img {
    width: 100%; /* Make the image width 100% of its container */
    height: auto; /* Maintain the image's aspect ratio */
    display: block; /* Remove any extra space caused by inline elements */
}













